<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659879338452-17ce17hml2dtgojflq29c0e48ep0qjaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659879338452-17ce17hml2dtgojflq29c0e48ep0qjaf</string>
	<key>API_KEY</key>
	<string>AIzaSyD1fyVnfX2RBRDKjOXHbLQvBcDh2s4NTSc</string>
	<key>GCM_SENDER_ID</key>
	<string>659879338452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sandesh.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sandesh-5fcac</string>
	<key>STORAGE_BUCKET</key>
	<string>sandesh-5fcac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659879338452:ios:79fa08c4033c9f3c7ab641</string>
</dict>
</plist>